:root {
  --alertcolor: #e85c41;
  --sansserif: "ClarikaProGeo-Lt",  sansserif;
}

.asteri{
	color:  var(--alertcolor);
    font-size: 1.5rem;
    font-weight: normal;
    position: relative;
    top: 5px;
}

.astri-required {
    text-align: right;
    font-size: 0.8rem;
    margin-right: 4%;
}
#mc_embed_signup{
	background:#fff; 
	false;clear:left; 
	font:  var(--sansserif);
	font-size: 1rem;
	width: 600px;
	margin: 0 auto;}

.mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
}
#mc_embed_signup .button{
	clear: both;
    background-color: #111;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    height: 2rem;
    line-height: 2rem;
    margin: 1rem 0 0 0;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: fit-content;
}
    