/*
 *
 * base
 *
 */

@font-face {
  font-family: "ClarikaProGeo-Lt";
  src: url("../webFonts/ClarikaProGeoLt/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoLt/font.woff") format("woff"); }
@font-face {
  font-family: "ClarikaProGeo-Md";
  src: url("../webFonts/ClarikaProGeoMd/font.woff2") format("woff2"), url("../webFonts/ClarikaProGeoMd/font.woff") format("woff"); }


 :root {
  --bodycolor: #000;
  --selectedcolor: #5d6b01;
  --subcolor: #999999;
  --bgcolor: #ffffff;
  --alertcolor: #e85c41;
  --serif: "Playfair",  serif;
  --sansserif: "ClarikaProGeo-Lt",  sansserif;
  --serif-jp: "Sawarabi Mincho";
  --sansserif-jp: "Noto Sans JP",
}

body{
  background-color: var(--bgcolor);
  color: var(--bodycolor);
  font-family: var(--sansserif);
  font-size: 1rem;
  line-height: 1.8rem;
  font-style: normal;
  text-align: justify;
  margin-bottom: 4rem;
}
  a, a:visited, a:active {
  color: var(--bodycolor);
  text-decoration: auto;
  border-bottom: 1px solid var(--bodycolor); }
  a:hover {
  color: var(--selectedcolor);}

  .body-jp{

  font-family: var(--sansserif-jp);
  font-size: 1rem;
  line-height: 2.5rem;
  font-style: normal;
  text-align: justify;
  margin-bottom: 4rem;
  }

.sub{
  color: var(--subcolor);
}
.italic{
  font-style: italic;
}


/* title */
h1 {
  font-family:  var(--sansserif);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--subcolor);
}

/* menu */
h2{
  font-family:  var(--serif);
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--bodycolor);
  border-bottom: none;   
  }

  h2 a, h2 a:visited, h2 a:active {
  color: var(--bodycolor);
  text-decoration-line: none;
  border-bottom: none;} 
  h2 a:hover {
  color: var(--selectedcolor);
  border-bottom: none;}


  h3 {
  font-family:  var(--serif);
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  color: var(--bodycolor);
  margin-top:15rem;
  margin-bottom: 8rem;
  padding: 0;}

  h4 {
  font-family:  var(--serif);
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  text-align: left;
  color: var(--bodycolor);
  margin-top:10rem;
  margin-bottom:5rem;
  padding: 0;}

  /* subscribe */
  h5{
  font-family: var(--sansserif);
  color: var(--subcolor);
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 5rem;
  }

  .caption{
  font-family: var(--serif);
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: right;
  color: var(--subcolor);
  margin:0px 0px 0.5rem 0px;
  padding: 0;
  }

  .list{
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .list-tab{  
    line-height: 1.5rem;
    width: 80%;
    float:left;
    margin-bottom: 0.5rem;
  }
  .list-label{
    line-height: 1.5rem;
    width: 4rem;
    float:left;
  }
